In [1]:
# Import Dependencies
import pandas as pd
import gmaps
import requests
# import API key
from config import gkey

In [2]:
# Store the CSV created in part one into a DataFrame
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Zhanaozen,KZ,2022-07-21 17:18:12,43.3000,52.8000,96.58,18,44,5.23
1,1,Rikitea,PF,2022-07-21 17:17:47,-23.1203,-134.9692,74.55,73,36,12.15
2,2,Puerto Ayora,EC,2022-07-21 17:22:01,-0.7393,-90.3518,78.76,85,82,11.01
3,3,Hamilton,CA,2022-07-21 17:22:02,43.2334,-79.9496,84.90,60,75,13.80
4,4,Bluff,NZ,2022-07-21 17:22:02,-46.6000,168.3333,38.80,82,97,9.24
...,...,...,...,...,...,...,...,...,...,...
546,546,Taitung,TW,2022-07-21 17:38:58,22.7599,121.1446,81.90,77,8,3.94
547,547,Krasnoarmeysk,RU,2022-07-21 17:38:58,51.0239,45.6969,60.26,70,31,6.98
548,548,Tosya,TR,2022-07-21 17:38:59,41.0155,34.0401,63.54,65,1,4.79
549,549,Yamada,JP,2022-07-21 17:38:59,39.4667,141.9500,68.76,92,51,2.51
550,550,Cayenne,GF,2022-07-21 17:39:00,4.9333,-52.3333,87.84,8,75,10.36

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use Google API key.
gmaps.configure(api_key=gkey)

In [15]:
# Get the maximum temperature
max_temp = city_data_df["Max Temp"]
temps= []
for temp in max_temp:
    temps.append(max(temp,0))

In [24]:
# Heat Map temperature
# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature
max_temp =city_data_df["Max Temp"]
# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heat map variable
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heat map layer
fig.add_layer(heat_layer)
# Call the figure to plot the data

fig

Figure(layout=FigureLayout(height='420px'))

In [28]:
# Heat Map temperature
# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature
humidity = city_data_df["Humidity"]
# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heat map variable
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)
# Add the heat map layer
fig.add_layer(heat_layer)
# Call the figure to plot the data

fig

Figure(layout=FigureLayout(height='420px'))

In [29]:
# Heat Map temperature
# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature
clouds = city_data_df["Cloudiness"]
# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heat map variable
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)
# Add the heat map layer
fig.add_layer(heat_layer)
# Call the figure to plot the data

fig

Figure(layout=FigureLayout(height='420px'))

In [30]:
# Heat Map temperature
# Get the latitude and longitude
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature
wind = city_data_df["Wind Speed"]
# Assign the figure variable
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heat map variable
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)
# Add the heat map layer
fig.add_layer(heat_layer)
# Call the figure to plot the data

fig

Figure(layout=FigureLayout(height='420px'))

In [31]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the Maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?75
What is the Maximum temperature you would like for your trip?90

In [35]:
# FIlter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                        (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
2,2,Puerto Ayora,EC,2022-07-21 17:22:01,-0.7393,-90.3518,78.76,85,82,11.01
3,3,Hamilton,CA,2022-07-21 17:22:02,43.2334,-79.9496,84.90,60,75,13.80
14,14,Billings,US,2022-07-21 17:18:22,45.7833,-108.5007,89.37,14,20,11.50
24,24,Cabedelo,BR,2022-07-21 17:22:12,-6.9811,-34.8339,79.47,80,100,13.47
25,25,Guerrero Negro,MX,2022-07-21 17:22:12,27.9769,-114.0611,75.16,62,61,14.72
37,37,Axim,GH,2022-07-21 17:22:18,4.8699,-2.2405,77.59,63,41,9.44
39,39,Bontang,ID,2022-07-21 17:22:19,0.1333,117.5000,80.60,81,93,7.11
43,43,Butaritari,KI,2022-07-21 17:23:22,3.0707,172.7902,80.01,76,69,3.67
44,44,Santa Cruz,PH,2022-07-21 17:23:22,14.2814,121.4161,81.09,91,100,5.08
46,46,Bani,DO,2022-07-21 17:23:23,18.2833,-70.3333,85.44,60,4,16.91

In [36]:
preferred_cities_df.count()

City_ID       191
City          191
Country       191
Date          191
Lat           191
Lng           191
Max Temp      191
Humidity      191
Cloudiness    191
Wind Speed    191
dtype: int64

In [40]:
# Create a DataFrame to store hotel names along with city, country, max temp and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df

               City Country  Max Temp      Lat       Lng Hotel Name
2      Puerto Ayora      EC     78.76  -0.7393  -90.3518
3          Hamilton      CA     84.90  43.2334  -79.9496
14         Billings      US     89.37  45.7833 -108.5007
24         Cabedelo      BR     79.47  -6.9811  -34.8339
25   Guerrero Negro      MX     75.16  27.9769 -114.0611
..              ...     ...       ...      ...       ...        ...
540        Ahuimanu      US     75.85  21.4447 -157.8378
542   West Wendover      US     87.01  40.7391 -114.0733
545   Bambanglipuro      ID     75.36  -7.9500  110.2833
546         Taitung      TW     81.90  22.7599  121.1446
550         Cayenne      GF     87.84   4.9333  -52.3333

[191 rows x 6 columns]

In [41]:
# Set the parameters to search for a hotel.
params = {
    "radius" : 5000,
    "type" : "lodging",
    "key" : gkey
}

In [47]:
# Iterate through the DataFrame
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]
    
    # Add the latitude and longitude to the location key for the params dictionary.
    params["location"] = f"{lat},{lng}"
    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make a request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [50]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
2,Puerto Ayora,EC,78.76,-0.7393,-90.3518,Finch Bay Galapagos Hotel
3,Hamilton,CA,84.90,43.2334,-79.9496,Osler House
14,Billings,US,89.37,45.7833,-108.5007,Best Western Plus Clocktower Inn
24,Cabedelo,BR,79.47,-6.9811,-34.8339,Pousada Camboinha
25,Guerrero Negro,MX,75.16,27.9769,-114.0611,"Casa Laguna, Bed & Breakfast"
37,Axim,GH,77.59,4.8699,-2.2405,Axim Beach Resort And Spa
39,Bontang,ID,80.60,0.1333,117.5000,KOPKAR Hotel Bintang Sintuk
43,Butaritari,KI,80.01,3.0707,172.7902,Isles Sunset Lodge
44,Santa Cruz,PH,81.09,14.2814,121.4161,San Victorina Pension House
46,Bani,DO,85.44,18.2833,-70.3333,Hospedaje Henriquez

In [53]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,  dissipating=False, max_intensity=300, point_radius =4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [54]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} F</dd>
</dl>
"""

In [56]:
# Store in DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [57]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))