## Deliverable 2. Create a Customer Travel Destinations Map.

In [64]:
# Dependencies and Setup
import pandas as pd
import requests

import gmaps

# Import API key
from config import gkey

# Configure gmaps API key
gmaps.configure(api_key=gkey)

In [59]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("/Users/caed/Desktop/Data_Repo/World_Weather_analysis/Weather_Database/WeatherPy_Database.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Arraial Do Cabo,BR,-22.9661,-42.0278,70.38,90,5,20.87,clear sky
1,1,Atuona,PF,-9.8000,-139.0333,77.40,77,13,15.57,few clouds
2,2,Punta Arenas,CL,-53.1500,-70.9167,32.11,80,0,10.36,clear sky
3,3,Srednekolymsk,RU,67.4500,153.6833,64.29,37,1,12.62,clear sky
4,4,Tokonou,GN,9.6500,-9.7833,66.56,99,91,4.68,overcast clouds

In [60]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip?"))
max_temp = float(input("What is the Maximum temperature you would like for your trip?"))

What is the minimum temperature you would like for your trip?

ValueError: could not convert string to float: ''

In [61]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & 
                                        (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
1,1,Atuona,PF,-9.8000,-139.0333,77.40,77,13,15.57,few clouds
5,5,Avarua,CK,-21.2078,-159.7750,75.25,73,20,9.22,few clouds
6,6,Cabo San Lucas,MX,22.8909,-109.9124,84.51,73,82,5.59,broken clouds
9,9,Bambous Virieux,MU,-20.3428,57.7575,75.22,78,75,16.11,broken clouds
11,11,Matamoros,MX,25.5333,-103.2500,82.94,33,45,4.74,scattered clouds
12,12,Kirakira,SB,-10.4544,161.9205,81.66,80,23,5.28,few clouds
19,19,Methoni,GR,36.8197,21.7049,85.21,53,0,1.99,clear sky
27,27,Nabire,ID,-3.3667,135.4833,85.41,70,58,3.67,broken clouds
31,31,San Patricio,MX,19.2167,-104.7000,78.66,89,96,1.88,overcast clouds
32,32,Waingapu,ID,-9.6567,120.2641,83.48,51,18,16.89,few clouds

In [62]:
del city_data_df["City_ID"]
city_data_df

,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,Arraial Do Cabo,BR,-22.9661,-42.0278,70.38,90,5,20.87,clear sky
1,Atuona,PF,-9.8000,-139.0333,77.40,77,13,15.57,few clouds
2,Punta Arenas,CL,-53.1500,-70.9167,32.11,80,0,10.36,clear sky
3,Srednekolymsk,RU,67.4500,153.6833,64.29,37,1,12.62,clear sky
4,Tokonou,GN,9.6500,-9.7833,66.56,99,91,4.68,overcast clouds
...,...,...,...,...,...,...,...,...,...
638,Orimattila,FI,60.8047,25.7300,68.38,97,98,3.89,overcast clouds
639,Abaete,BR,-19.1600,-45.4458,58.73,57,1,2.19,clear sky
640,Singaraja,ID,-8.1120,115.0882,81.39,72,42,1.66,scattered clouds
641,Nyuksenitsa,RU,60.4128,44.2397,74.91,54,57,6.91,broken clouds
642,Grafton,US,42.2070,-71.6856,76.41,81,0,9.22,clear sky

In [6]:
# 4a. Determine if there are any empty rows.
city_data_df.count()

City                   643
Country                637
Lat                    643
Lng                    643
Max Temp               643
Humidity               643
Cloudiness             643
Wind Speed             643
Current Description    643
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = city_data_df.dropna()
city_data_df.count()

City                   643
Country                637
Lat                    643
Lng                    643
Max Temp               643
Humidity               643
Cloudiness             643
Wind Speed             643
Current Description    643
dtype: int64

In [19]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Arraial Do Cabo,BR,70.38,clear sky,-22.9661,-42.0278,
1,Atuona,PF,77.40,few clouds,-9.8000,-139.0333,
2,Punta Arenas,CL,32.11,clear sky,-53.1500,-70.9167,
3,Srednekolymsk,RU,64.29,clear sky,67.4500,153.6833,
4,Tokonou,GN,66.56,overcast clouds,9.6500,-9.7833,
5,Avarua,CK,75.25,few clouds,-21.2078,-159.7750,
6,Cabo San Lucas,MX,84.51,broken clouds,22.8909,-109.9124,
8,Castro,BR,55.02,scattered clouds,-24.7911,-50.0119,
9,Bambous Virieux,MU,75.22,broken clouds,-20.3428,57.7575,
10,Hobart,AU,58.26,broken clouds,-42.8794,147.3294,

In [20]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": gkey
}

In [21]:

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [53]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df[hotel_df["Hotel Name"] != ""]
clean_hotel_df

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Arraial Do Cabo,BR,70.38,clear sky,-22.9661,-42.0278,Pousada Porto Praia
1,Atuona,PF,77.40,few clouds,-9.8000,-139.0333,Villa Enata
2,Punta Arenas,CL,32.11,clear sky,-53.1500,-70.9167,Hotel Hain
5,Avarua,CK,75.25,few clouds,-21.2078,-159.7750,Paradise Inn
6,Cabo San Lucas,MX,84.51,broken clouds,22.8909,-109.9124,Hotel Tesoro Los Cabos
...,...,...,...,...,...,...,...
638,Orimattila,FI,68.38,overcast clouds,60.8047,25.7300,hotel Tent
639,Abaete,BR,58.73,clear sky,-19.1600,-45.4458,Hotel Millenium
640,Singaraja,ID,81.39,scattered clouds,-8.1120,115.0882,Puri Bagus Lovina Resort
641,Nyuksenitsa,RU,74.91,broken clouds,60.4128,44.2397,Sukhona Hotel
642,Grafton,US,76.41,clear sky,42.2070,-71.6856,The Grafton Inn

In [52]:
# 8a. Create the output File (CSV)
output_data_file = "/Users/caed/Desktop/Data_Repo/World_Weather_analysis/Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [76]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Description</dt><dd>{Current Description} {Max Temp} °F</dd>
</dl>
"""
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [78]:
# 11a. Add a marker layer for each city to the map. 
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

AIzaSyC_PSw36Bcusc2J4dGx4tjSgCeyMnDomf0